body{
    background-color:wheat;
}
#mainNav{
    background-color:Black;
    border-bottom-left-radius:25px;
}
#dBrand{
    color:white;
    background-color:royalblue;
    border-bottom-left-radius:25px;
}
#contentBlock{
    background-color: white;
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:25px;
    padding:20px 25px 20px 25px;
    margin-bottom:20px;
}
#focText{
    color: whitesmoke;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#focfitImg{
    max-width:50%;
    max-height:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#presentImg{
    width: 50%;
    max-width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#fitImg{
    max-width:50%;
    max-height:50%;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#fitImg:hover {
    -webkit-filter: grayscale(0);
    filter: none;
  }